@font-face
    font-family RobotoBlack
    src url(../fonts/Roboto/Roboto-Black.ttf) format("TrueType")
@font-face
    font-family RobotoBlackItalic
    src url(../fonts/Roboto/Roboto-BlackItalic.ttf) format("TrueType")
@font-face
    font-family RobotoBold
    src url(../fonts/Roboto/Roboto-Bold.ttf) format("TrueType")
@font-face
    font-family RobotoBoldItalic
    src url(../fonts/Roboto/Roboto-BoldItalic.ttf) format("TrueType")
@font-face
    font-family RobotoItalic
    src url(../fonts/Roboto/Roboto-Italic.ttf) format("TrueType")
@font-face
    font-family RobotoLight
    src url(../fonts/Roboto/Roboto-Light.ttf) format("TrueType")
@font-face
    font-family RobotoLightItalic
    src url(../fonts/Roboto/Roboto-LightItalic.ttf) format("TrueType")
@font-face
    font-family RobotoMedium
    src url(../fonts/Roboto/Roboto-Medium.ttf) format("TrueType")
@font-face
    font-family RobotoMediumItalic
    src url(../fonts/Roboto/Roboto-MediumItalic.ttf) format("TrueType")
@font-face
    font-family RobotoRegular
    src url(../fonts/Roboto/Roboto-Regular.ttf) format("TrueType")
@font-face
    font-family RobotoThin
    src url(../fonts/Roboto/Roboto-Thin.ttf) format("TrueType")
@font-face
    font-family RobotoThinItalic
    src url(../fonts/Roboto/Roboto-ThinItalic.ttf) format("TrueType")
@font-face
    font-family RobotoCBold
    src url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf) format("TrueType")
@font-face
    font-family RobotoCBoldItalic
    src url(../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf) format("TrueType")
@font-face
    font-family RobotoCItalic
    src url(../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf) format("TrueType")
@font-face
    font-family RobotoCLight
    src url(../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf) format("TrueType")
@font-face
    font-family RobotoCLightItalic
    src url(../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf) format("TrueType")
@font-face
    font-family RobotoCRegular
    src url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format("TrueType")