@import "fonts.styl"
@import "variables.styl"

// Setup base elements properties
html
body
    margin 0
    padding 0
    font-style normal
    font-weight normal
    font-family RobotoRegular, sans-serif
    color atk_dark
    background no-repeat 50% calc(100% - 120px)
a
    color inherit
    text-decoration none
    flex(row, center, center)
ul, li
    margin 0
    padding 0
    list-style none
    outline 0

// Setup general-purpose classes
.grid-size
    max-width 1200px
    margin auto
    position relative
.full-size
    width auto
    margin 0
    position relative
.bg1
	background-image url(../img/bg1.jpg)
	background-size 100%
.bg2
	background-image url(../img/bg2.jpg)
	background-size 100%
.body__wrapper
	background rgba(40,41,49,.6)
	background linear-gradient(atk_white 50%, rgba(40,41,49,.6) 100% )

/********************* header *********************/
.header
    border-bottom 1px solid atk_dark
.header-container
    display grid
    grid-template-columns 50% calc(50% - 40px) 40px
    grid-template-rows 67px 50px
    grid-row-gap 45px
.header-container__logo
    flex(row,flex-start,center)
    padding-left 25px
    img
        height 44px
.header-container__nav
    .nav-container
        display grid
        grid-template-columns 25% 25% 25% 25%
        height 100%
    .nav-container__item
        font-size 18px
        &:hover
            background atk_bl_d
            color atk_white
    .nav-container__link
        padding 15px 0
        height calc(100% - 30px)
        align-items flex-end
.header-container__lang
    position relative
    height 20px
    .lang__item
        display none
        font-size 14px
        height 25px
        line-height 25px
        padding-right 7px
        &:first-child
            display block
            .lang__link_underline
                text-decoration underline
    &.active
        .lang__item
            display block
            &:hover
                background atk_or_l
        .lang__link_underline:after
            content "\23F6"
    .lang__link_underline:after
        position absolute
        right 0
        content "\23F7"
        text-decoration none
.header-container__breadcrumbs
    flex(row, flex-start, center)
    color atk_gr_l
    font-size 18px
    padding-left 15px
    .breadcrumbs__item
        margin 0 10px
        &:last-child
            color atk_dark
    .breadcrumbs__delimiter
        size_sim(18px)
        background url(../img/arrow_right.svg) no-repeat center
        background-size contain
.header-container__contacts
    grid-column 2 / 4
    padding-left calc(100% - 420px)
    flex(row, flex-end, center)
    position relative
    //right 0
    //bottom -80px
    z-index 10
    .contacts__item
        background atk_dark - rgba(0,0,0,.2)
        font-size 18px
        color atk_white
        height 100%
        padding 0 15px
        img
            height 26px
            margin-right 9px
/******************* end header *******************/

/********************* content ********************/
.content
    display grid
    grid-template-columns calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px)
    grid-column-gap 10px
    grid-row-gap 10px
.content__header
    font-weight normal
    font-size 26px
    margin 65px auto 30px
    text-align center
    grid-column 1/5
.content__trading
    background atk_white
    grid-column-end span 2
    border 10px solid atk_or_l
    .trading__link
        flex(row,center,center)
        height 176px
    .trading__img
        max-width 280px
.content__equipment
    height 100px
    background-repeat no-repeat
    background-size contain
    font-size 26px
    font-family RobotoLight, sans-serif
    background-color atk_or_l
    &:hover
        background-color atk_bl_l
    &.equipment_big
        grid-column-end span 2
    .equipment__link
        flex(row, flex-start, center)
        size_sim(calc(100% - 40px))
        padding 20px
/******************* end content ******************/

/********************* footer *********************/
.footer
    background atk_dark
    color #fefefe
    line-height 30px
    font-size 18px
    margin-top 200px
.footer-container
    display grid
    grid-template-columns calc(100%/3 - 10px) calc(100%/3) calc(100%/3 - 10px)
    grid-column-gap 10px
    padding 60px 0 40px 0
.footer-container__info
    width 100%
    top -120px
    text-align center
    position absolute
    font-size 22px
    color atk_white
.footer-container__info_normal
    font-weight normal
.footer-container__soc
    .soc__link
        flex(row, flex-start, center)
    .soc__link_light
        font-family RobotoLight, sans-serif
        color atk_grey
    .soc__image
        max-height 21px
        width 21px
.footer-container__copy
    flex(column, flex-start, center)
.footer-container__copy_light
    font-family RobotoLight, sans-serif
.footer-container__nav
    .nav-container
        flex(column, flex-start, flex-end)
.footer-container__petiteweb
    flex(row, flex-start, center)
    position absolute
    bottom 40px
    left 0
    .pw-text
        padding 5px 5px 0 0
        font-size 14px
        font-family RobotoLight, sans-serif
        color #bfd6cb
    .pw-image
        height 20px
/******************* end footer *******************/

/******************** main page *******************/
.index
    .footer-container__info
        color atk_dark
.banner
    position relative
    background url(../img/banner.jpg) no-repeat center
    background-size cover
    top -51px
    margin-bottom -51px
.banner-container
    height 500px
    background atk_dark - rgba(0,0,0,.4)
    flex(row, center, center)
.banner-container__header
    flex(column, center, center)
    font normal normal normal 32px RobotoLight, sans-serif
    text-align center
.banner-container__header_space
    background atk_white - rgba(0,0,0,.1)
    padding 0 5px
.partners__slider
    overflow hidden
    flex(row,center,center)
.slider-container
    position relative
    width calc(290px * 12 + 110px)
    display grid
    grid-template-columns 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px
    grid-column-gap 10px
    grid-template-rows 290px
.slider-container__item
    transition transform .7s
    size_dif(100%, 290px)
    background rgba(0,0,0,.05)
    flex(column,center,center)
    filter grayscale(100%)
    opacity .5
    &:hover
        filter grayscale(0)
        opacity 1
.slider-container__image
    max-width 90%
    max-height 70%
.certificates
    display grid
    grid-template-columns auto auto auto
    grid-column-gap 10px
    grid-row-gap 10px
.certificates__header
    grid-column 1 / 4
    font-weight normal
    font-size 26px
    margin 65px auto 30px
    text-align center
.certificates__image
    width 100%
/****************** end main page *****************/

/******************** partners ********************/
.partners__header
    font-weight normal
    font-size 26px
    margin 65px auto 30px
    text-align center
    grid-column 1/5
/****************** end partners ******************/