@font-face {
  font-family: RobotoBlack;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoBlackItalic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoBoldItalic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoItalic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoLight;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoLightItalic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoMedium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoMediumItalic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoThin;
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoThinItalic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCBold;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCBoldItalic;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCItalic;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCLight;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCLightItalic;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf") format("TrueType");
}
@font-face {
  font-family: RobotoCRegular;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("TrueType");
}
html,
body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-family: RobotoRegular, sans-serif;
  color: #1c1e26;
  background: no-repeat 50% calc(100% - 120px);
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
}
.grid-size {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.full-size {
  width: auto;
  margin: 0;
  position: relative;
}
.bg1 {
  background-image: url("../img/bg1.jpg");
  background-size: 100%;
}
.bg2 {
  background-image: url("../img/bg2.jpg");
  background-size: 100%;
}
.body__wrapper {
  background: rgba(40,41,49,0.6);
  background: linear-gradient(#fff 50%, rgba(40,41,49,0.6) 100%);
}
/********************* header *********************/
.header {
  border-bottom: 1px solid #1c1e26;
}
.header-container {
  display: grid;
  grid-template-columns: 50% calc(50% - 40px) 40px;
  grid-template-rows: 67px 50px;
  grid-row-gap: 45px;
}
.header-container__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
}
.header-container__logo img {
  height: 44px;
}
.header-container__nav .nav-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 100%;
}
.header-container__nav .nav-container__item {
  font-size: 18px;
}
.header-container__nav .nav-container__item:hover {
  background: #006690;
  color: #fff;
}
.header-container__nav .nav-container__link {
  padding: 15px 0;
  height: calc(100% - 30px);
  align-items: flex-end;
}
.header-container__lang {
  position: relative;
  height: 20px;
}
.header-container__lang .lang__item {
  display: none;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  padding-right: 7px;
}
.header-container__lang .lang__item:first-child {
  display: block;
}
.header-container__lang .lang__item:first-child .lang__link_underline {
  text-decoration: underline;
}
.header-container__lang.active .lang__item {
  display: block;
}
.header-container__lang.active .lang__item:hover {
  background: #f9c995;
}
.header-container__lang.active .lang__link_underline:after {
  content: "\23F6";
}
.header-container__lang .lang__link_underline:after {
  position: absolute;
  right: 0;
  content: "\23F7";
  text-decoration: none;
}
.header-container__breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #bfbfc4;
  font-size: 18px;
  padding-left: 15px;
}
.header-container__breadcrumbs .breadcrumbs__item {
  margin: 0 10px;
}
.header-container__breadcrumbs .breadcrumbs__item:last-child {
  color: #1c1e26;
}
.header-container__breadcrumbs .breadcrumbs__delimiter {
  width: 18px;
  height: 18px;
  background: url("../img/arrow_right.svg") no-repeat center;
  background-size: contain;
}
.header-container__contacts {
  grid-column: 2/4;
  padding-left: calc(100% - 420px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 10;
}
.header-container__contacts .contacts__item {
  background: rgba(28,30,38,0.8);
  font-size: 18px;
  color: #fff;
  height: 100%;
  padding: 0 15px;
}
.header-container__contacts .contacts__item img {
  height: 26px;
  margin-right: 9px;
}
/******************* end header *******************/
/********************* content ********************/
.content {
  display: grid;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.content__header {
  font-weight: normal;
  font-size: 26px;
  margin: 65px auto 30px;
  text-align: center;
  grid-column: 1/5;
}
.content__trading {
  background: #fff;
  grid-column-end: span 2;
  border: 10px solid #f9c995;
}
.content__trading .trading__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 176px;
}
.content__trading .trading__img {
  max-width: 280px;
}
.content__equipment {
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 26px;
  font-family: RobotoLight, sans-serif;
  background-color: #f9c995;
}
.content__equipment:hover {
  background-color: #a1e3fe;
}
.content__equipment.equipment_big {
  grid-column-end: span 2;
}
.content__equipment .equipment__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}
/******************* end content ******************/
/********************* footer *********************/
.footer {
  background: #1c1e26;
  color: #fefefe;
  line-height: 30px;
  font-size: 18px;
  margin-top: 200px;
}
.footer-container {
  display: grid;
  grid-template-columns: calc(100% / 3 - 10px) calc(100% / 3) calc(100% / 3 - 10px);
  grid-column-gap: 10px;
  padding: 60px 0 40px 0;
}
.footer-container__info {
  width: 100%;
  top: -120px;
  text-align: center;
  position: absolute;
  font-size: 22px;
  color: #fff;
}
.footer-container__info_normal {
  font-weight: normal;
}
.footer-container__soc .soc__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer-container__soc .soc__link_light {
  font-family: RobotoLight, sans-serif;
  color: #7d818d;
}
.footer-container__soc .soc__image {
  max-height: 21px;
  width: 21px;
}
.footer-container__copy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer-container__copy_light {
  font-family: RobotoLight, sans-serif;
}
.footer-container__nav .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.footer-container__petiteweb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.footer-container__petiteweb .pw-text {
  padding: 5px 5px 0 0;
  font-size: 14px;
  font-family: RobotoLight, sans-serif;
  color: #bfd6cb;
}
.footer-container__petiteweb .pw-image {
  height: 20px;
}
/******************* end footer *******************/
/******************** main page *******************/
.index .footer-container__info {
  color: #1c1e26;
}
.banner {
  position: relative;
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  top: -51px;
  margin-bottom: -51px;
}
.banner-container {
  height: 500px;
  background: rgba(28,30,38,0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner-container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: normal normal normal 32px RobotoLight, sans-serif;
  text-align: center;
}
.banner-container__header_space {
  background: rgba(255,255,255,0.9);
  padding: 0 5px;
}
.partners__slider {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider-container {
  position: relative;
  width: calc(290px * 12 + 110px);
  display: grid;
  grid-template-columns: 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px;
  grid-column-gap: 10px;
  grid-template-rows: 290px;
}
.slider-container__item {
  transition: transform 0.7s;
  width: 100%;
  height: 290px;
  background: rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.5;
}
.slider-container__item:hover {
  filter: grayscale(0);
  opacity: 1;
}
.slider-container__image {
  max-width: 90%;
  max-height: 70%;
}
.certificates {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.certificates__header {
  grid-column: 1/4;
  font-weight: normal;
  font-size: 26px;
  margin: 65px auto 30px;
  text-align: center;
}
.certificates__image {
  width: 100%;
}
/****************** end main page *****************/
/******************** partners ********************/
.partners__header {
  font-weight: normal;
  font-size: 26px;
  margin: 65px auto 30px;
  text-align: center;
  grid-column: 1/5;
}
/****************** end partners ******************/
