atk_white   = rgba(255,255,255,1)   // #ffffff
atk_dark    = rgba(28,30,38,1)      // #1c1e26
atk_bl_d    = rgba(0,102,144,1)     // #006690
atk_bl_l    = rgba(161,227,254,1)   // #a1e3fe
atk_or_d    = rgba(248,153,58,1)    // #f8993a
atk_or_l    = rgba(249,201,149,1)   // #f9c995
atk_grey    = rgba(125,129,141,1)   // #7d818d
atk_gr_l    = rgba(191,191,196,1)   // #bfbfc4

flex(a,b,c)
    display flex
    flex-direction a
    justify-content b
    align-items c
size_sim(a)
    width a
    height a
size_dif(a,b)
    width a
    height b