-var path = ""
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title ATK Company
        link(rel="favicon icon" href="img/favicon.png")
        link(rel="stylesheet" href="css/style.css")
    body.index
        include pages/header
        .banner.full-size
            .banner__item.banner-container.full-size
                h1.banner-container__header
                    span.banner-container__header_space Поставка и продажа дорожно-строительной техники и
                    span.banner-container__header_space оборудования для нефтегазового сервиса
                    span.banner-container__header_space с 1992 года
        .content.grid-size
            include pages/equipment
            include pages/trading
        // TODO: Прописать атрибут alt всем изображениям, сделать ссылки на сайты партнёров
        .partners
            h2.partners__header.grid-size Наши партнёры
        .partners__slider.full-size
            .slider-container
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/dealex.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/techno_invest.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/gaz.png")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/kama_tyres.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/gazprom.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/stg.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/yamz.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/yardisel.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/motordetal.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/kmz.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/remattra.svg")
                a.slider-container__item(href="")
                    img.slider-container__image(src="img/partners/ru/prometey.svg")
        // TODO: Уточнить необходимость увеличить сертификат
        .certificates.grid-size
            h2.certificates__header Наши сертификаты
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate1.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate2.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate3.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate4.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate5.jpg")
            .certificates__item
                img.certificates__image(src="img/certificates/ru/certificate6.jpg")
        include pages/footer
        script(src="js/script.js")