-var path = "../"
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        title ATK Company / О нас
        link(rel="favicon icon" href="../img/favicon.png")
        link(rel="stylesheet" href="../css/style.css")
    body.bg2
        .body__wrapper
            include header
            .content.grid-size
                include trading
            include footer
        script(src=path + "js/script.js")