h2.content__header Нефтегазовый сервис
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq1.png);")
    a.equipment__link(href="")
        span Трубоукладчики
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq2.png);")
    a.equipment__link(href="") Сварочное оборудование
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq3.png);")
    a.equipment__link(href="") Трубогибочные машины
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq4.png);")
    a.equipment__link(href="") Облицовочные машины
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq5.png);")
    a.equipment__link(href="") Центраторы
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq6.png);")
    a.equipment__link(href="") Экскаваторы
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq7.png);")
    a.equipment__link(href="") Компрессора
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq8.png);")
    a.equipment__link(href="") Траншеекопатели
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq9.png);")
    a.equipment__link(href="") Погрузчики
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq10.png);")
    a.equipment__link(href="") Краны
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq11.png);")
    a.equipment__link(href="") Бульдозеры
.content__equipment.equipment(style="background-image:url(" + path + "img/equipment/eq12.png);")
    a.equipment__link(href="") Разная техника
h2.content__header Общестроительное оборудование
.content__equipment.equipment.equipment_big(style="background-image:url(" + path + "img/equipment/eq13.png);")
    a.equipment__link(href="") Бетононасосы
.content__equipment.equipment.equipment_big(style="background-image:url(" + path + "img/equipment/eq14.png);")
    a.equipment__link(href="") Бетонораспределительные стрелы
