footer.footer.full-size
    .footer__item.footer-container.grid-size
        .footer-container__info
            strong.footer-container__info_normal Будьте бдительны – остерегайтесь мошенников!<br>Перед проведением оплаты необходим телефонный звонок или встреча с представителями компании!
        .footer-container__soc.soc
            a.soc__link(href="https://www.instagram.com/atktrading/" target="_blank")
                img.soc__image(src=path + "img/instagram.svg" alt="ATK Company в instagram")
                span.soc__link_light &#160;instagram:&#160;
                span @atktrading
            a.soc__link(href="https://www.youtube.com/channel/UCu0H8TKkFfWrD1dTfVDPSOA" target="_blank")
                img.soc__image(src=path + "img/youtube.svg" alt="Канал ATK Company в youtube")
                span.soc__link_light.tx18-grey-l &#160;youtube:&#160;
                span ATK Company
        .footer-container__copy
            span &#169; ATK Company
            span.footer-container__copy_light 2015&#8722;2018
        nav.footer-container__nav.nav
            ul.nav-container
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/products.html") Продукция
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/partners.html") Партнёры
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/about.html") О нас
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/contacts.html") Контакты
        a.footer-container__petiteweb.pw(href="http://petiteweb.ru")
            span.pw-text Сайт разработан студией
            img.pw-image(src="http://petiteweb.ru/pw_logo/logo_dbg2.svg" alt="Школа-студия веб-разработки PetiteWeb")
