header.header.full-size
    .header__item.header-container.grid-size
        .header-container__logo.logo
                    a.logo__link(href=path + "index.html")
                        img.logo__image(src=path + "img/logo.svg" alt="ATK Company")
        // TODO: Написать скрипт на получение активного окошечка меню (подсветка) в зависимости от страницы
        nav.header-container__nav.nav
            ul.nav-container
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/products.html") Продукция
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/partners.html") Партнёры
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/about.html") О нас
                li.nav-container__item
                    a.nav-container__link(href=path + "pages/contacts.html") Контакты
        // TODO: Написать скрипт по получению ссылки на !Текущую страницу с выбранным языком
        ul.header-container__lang.lang
            li.lang__item
                a.lang__link(href="")
                    span.lang__link_underline Ru
            li.lang__item
                a.lang__link(href="") En
        // TODO: Разобраться с map.xml
        .header-container__breadcrumbs.breadcrumbs
            span.breadcrumbs__item Тили-тили
            span.breadcrumbs__delimiter
            span.breadcrumbs__item Трали-вали
        .header-container__contacts.contacts
            a.contacts__item(href="tel:+79057277687")
                img(src=path + "img/phone.svg")
                span +7 (905) 727-76-87
            a.contacts__item(href="mailto:info@atkcom.net")
                img(src=path + "img/mail.svg")
                span info@atkcom.net