h2.content__header Заказ оборудования на одной из площадок
.content__trading.trading
    a.trading__link(href="https://www.machinio.com/sellers/atk-general-trading" target="_blank")
        img.trading__img(src=path + "img/logo_machinio.png" alt="Б/у строительная техника, сельскохозяйственное оборудование и многое другое на machinio.com ")
.content__trading.trading
    a.trading__link(href="https://autoline24.ru/atkcom/" target="_blank")
        img.trading__img(src=path + "img/logo_autoline.svg" alt="Продажа коммерческой техники, покупка, аренда техники на autoline24.ru")